chumpy
decorator
freetype-py
future
h5py
imageio
joblib
matplotlib
numpy
opencv-python==3.4.9.31
opendr
OpenEXR
pandas 
pathlib
Pillow 
pyembree
PyEXR
PyOpenGL
pyparsing
pyrender
PyWavelets
PyYAML
Rtree
scikit-image
scikit-learn
scipy
tensorboard
tensorboardX
threadpoolctl
torch==1.7.0
torchaudio==0.7.0
torchvision==0.8.1
tornado
tqdm
trimesh
xxhash
